
Details
Activity
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/*-----------------------CONTAINER-----------------------------*/
.container{
    max-width:150rem;
    padding:1.5rem;
    margin:0 auto;

}

/*----------------------HEADER--------------------------*/
.header{
    background:#2b2b2b;
    padding:1rem 0;
    position:relative;
    position:fixed;
    width:100%;
    z-index:999;
  
}
.header .branding {
    display:flex;
    align-items:center;
    gap:1.5rem;
}

.header .branding img{
    width:5rem;

}
.header .branding h3:hover{
  color:#ffa700;
  font-size:2.5rem;
  font-weight:600;
  transition:.3s ease;

}
.header .branding h3{
    color:#ffffff;
    font-size:2.5rem;
    font-weight:600;

}
.header .branding h3:hover span{
  color:#ffffff;
  transition:.3s ease;
}
.header .branding h3 span{
    color:#ffa700;
}
.header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*-------------------NAVIGATION-----------------------*/
.header .header__nav ul{
    display:flex;
    gap:3rem;
}
.header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.header .header__nav ul li a{
    color:#ffffff;
    font-size:2rem;
}

.header .header__nav ul li.active a{
    color:#ffa700;
}
.header .header__nav ul li:hover a:before{
    content:"";
    width:fit-content;
    height:.1rem;
    display:block;
    background-color:#ffa700;
    transform-origin:left;
}
.header .header__nav ul li a:after{
    content:"";
    width:0;
    height:.2rem;
    background-color:#ffa700;
    display:block;
 }
.header .header__nav ul li:hover a:after {
   content:"";
   width:100%;
   height:.2rem;
   background-color:#ffa700;
   display:block;
}
.header .header__nav ul li:hover a:after {
    width:100%;
    transition: .5s ease;
 }
.header .toggle__menu{
    display:none;
}
.header .toggle__menu span{
    width:2.5rem;
    height:.2rem;
    background-color:#ffa700;
    display:block;
    border-radius:5rem; 
    transition:.5s ease;
}
.header .toggle__menu span:nth-child(2){
    margin:.3rem 0; 
}
.header .header__nav.open{
  right:0rem;
  transition:.3s ease;
}
.header .toggle__menu.open span:first-child{
 transform: translateY(10px) rotate(225deg);
 transition:.3s ease;
}
.header .toggle__menu.open span:nth-child(2){
 opacity:0;
 transition:.3s ease;
}
.header .toggle__menu.open span:last-child{
 transform: translateY(-1px) rotate(-225deg);
}
 @media screen and (max-width: 500px){
    .header .header__nav{
    position:absolute;
    background:#434242;
    top:10rem;
    right:-100rem;
    width:100%;
    height:100vh;
    transition:.3s ease;
 }
 .header .header__nav ul{
    flex-direction:column;
    gap:0;
    text-align:center;
 }

 .header .header__nav ul li{
    padding:3rem 0;
 }

 .header .header__nav ul li a{
    font-size:3rem;
 }

 .header .header__nav ul li:hover a:after{
    width:0%;
 }
 header .header__nav ul li:hover {
  background:gray;
}

 .header .toggle__menu{
    display:block;
 }
}
/*--------------BANNER--------------*/
.banner{
  background:#ffffff;
  padding-top:13rem;
  padding-bottom:5rem;  
}
.banner .banner__wrapper{
  display:grid;
  grid-template-columns:2fr 2fr;
  align-items:center;
}
.banner .banner__text h1:hover{
  font-size:10rem;
  font-weight:800;
  color:#2b2b2b;
  line-height:1.2;
  transition:.3s ease;
}
.banner .banner__text h1{
  font-size:10rem;
  font-weight:800;
  color:#ffa700;
  line-height:1.2;
}
.banner .banner__text p{
  margin:5rem 0;
  max-width:45rem;
  text-align:justify;
}
@media screen and (max-width:500px){
  .banner .banner__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .banner .banner__text{
    order:2;
    text-align:center;
    margin:0 2rem;
    margin-top:3rem;
  }
  .banner .banner__wrapper img{
    width:20rem;
    margin:0 auto;
  } 
  .banner .banner__text h1:hover{
    font-size:3rem;
    transition:.3s ease;
  }   
  .banner .banner__text h1{
    font-size:3rem;
  }  
  .banner .banner__text p{
    margin-top:2rem;
    margin-bottom:5rem;
  }  
}

/*--------------HM SERVICES--------------*/
.hm-services{
  padding:5rem 0;
  background:#2b2b2b;  
}
.hm-services .hm-services__wrapper{
display:flex;
grid-template-columns:2fr;
grid-gap:8rem;
}
.hm-services .hm-services__wrapper img{
  

}
.hm-services .hm-services__item{
  text-align:center;
}
.hm-services .hm-services__item i{
  
  color:#ffa700;
  font-size:6rem;
}
.hm-services .hm-services__item p{
  color:#ffffff;
  text-align:justify;
  margin-bottom:5rem;
}
.hm-services .hm-services__item h4{
  color:#ffa700;
  font-weight:600;
  margin-top:2rem; 
  margin-bottom:3rem;
}

@media screen and (max-width:500px){
  .hm-services .hm-services__wrapper{
    display:unset;
    display:flex;
    flex-direction:column;
    gap:12rem;
  
}
.hm-services .hm-services__item{
margin:0 5rem;
}
}
/*--------------HOME ABOUT--------------*/
.hm-about{
  background:#ffffff;
  padding-top:5rem;
  padding-bottom:5rem; 
}
.hm-about .hm-about__wrapper img{
  height:60rem;
  width:60rem;
}
.hm-about .hm-about__wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.hm-about .hm-about__text h3:hover{
  font-size:2.5rem;
  font-weight:800;
  color:#2b2b2b;
  line-height:1.2;
  transition:.3s ease;
}
.hm-about .hm-about__text{
  max-width:75rem;
}
.hm-about .hm-about__text h3{
  font-size:2.5rem;
  font-weight:800;
  color:#ffa700;
  line-height:1.2;
}
.hm-about .hm-about__text p{
  margin:1.5rem 0rem;
  max-width:75rem; 
  text-align:justify;
}

@media screen and (max-width:500px){
  .hm-about .hm-about__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .hm-about .hm-about__text{
    order:2;
    text-align:center;
    margin:0 2rem;
    margin-top:3rem;
  }
  .hm-about .hm-about__wrapper img{
    width:20rem;
    height:20rem;
    margin:0 auto;
  } 
  .hm-about .hm-about__text h3:hover{
    font-size:3rem;
    transition:.3s ease;
  }   
  .hm-about .hm-about__text h3{
    font-size:2.5rem;
  }  
  .hm-about .hm-about__text p{
    margin-top:2rem;
    margin-bottom:5rem;
  }  
}

/*--------------LATEST TRENDS--------------*/


.ltrends{
  padding:5rem 0;
  background:#2b2b2b;
}
.ltrends .ltrends__title h2{
  color:#ffa700;
  font-size:4rem;
  font-weight:600;

}

.ltrends .ltrends__title p{
  color:#ffffff;
}

.ltrends .ltrends__wrapper{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:8rem;
}
.ltrends .ltrends__card:hover{
 transform:scale(1.1);
 transition:.5s ;
}
.ltrends .ltrends__card img{
  width:100%;
}
.ltrends .ltrends__card .ltrends__card__text{
  padding:2rem;
}

.ltrends .ltrends__card .ltrends__card__text h4{
 font-weight:600;
 color:#ffa700
}

.ltrends .ltrends__card .ltrends__card__text p{
margin:3rem 0;
}

.ltrends .ltrends__card .ltrends__card__text a{
color:#ffa700;
}
.ltrends .ltrends__card{
  border-radius:3rem;
  margin-top:8rem;
  background:#ffffff;
}
@media screen and (max-width:500px){
  .ltrends .ltrends__title{
  text-align:center;  
  }
  .ltrends .ltrends__wrapper{
  display:unset;
  display:flex;
  flex-direction:column;
  }
.trends .trends__card{
  margin-left:2rem;
  margin -right:2rem;
  border-radius:3rem;
}
.ltrends .ltrends__card:hover{
  transform:scale(1);
 }
}
/*--------------CONTACTUS YELLOW--------------*/

.advert{
  padding:5rem 0;
  background:#ffa700;  
  text-align:center;
}

.advert .advert__item h4{
  color:#2b2b2b;
  font-weight:800;
  font-size:3rem;
}
.advert .advert__item p{
  color:#2b2b2b;
  text-align:center;
  margin-top:.5rem;
  margin-bottom:3rem;
}
@media screen and (max-width:500px){
  .advert .advert__wrapper{
    font-size:1rem;
    display:grid;
    grid-template-columns: 1fr;
  }
  .advert .adcvert_item h4{
    font-size:1rem;
    font-weight:800;
  }
}

/*--------------FOOTER-------------*/
.footer{
background:#2b2b2b; 
padding:1rem 0;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.footer p{
  color:gray;
}
.footer .footer__wrapper{
display:flex;
align-items:center;
justify-content:space-between;
}
.footer .footer__left{
display:flex;
gap:4rem;
align-items:center;
}
.footer .footer__left ul{
display:flex;
align-items:center;
gap:2.5rem;
}
.footer .footer__left ul li a{
font-size:2.5rem;
color:gray;
}
.footer .footer__left ul li:hover a{
color:#ffa700;
}
.footer .footer__left ul li:hover a{
transform:scale(1.1);
}
@media screen and (max-width:500px){
  .footer .footer__left{
    flex-direction:column;
    gap:1rem;
  }
  .footer .footer__wrapper{
    flex-direction:column;
    gap:1rem;
  }
}

/*--------------UPDATES PAGE--------------*/
.updates{
  background:ffffff;
  padding-top:13rem;
  padding-bottom:5rem;
}
.updates .updates__title h1{
  font-size:5rem;
  color:#ffa700;
  font-weight:600;
}
.updates .updates__wrapper{
  display:grid;
  grid-template-columns:2.5fr 1.5fr;
  grid-gap:5rem;
  margin-top:10rem;
}
/*--------------UPDATES LEFT--------------*/
.updates .updates__left{

}
.updates .updates__left__item img{
  width:100%;
}
.updates .updates__left__item ul{
  display:flex;
  align-items:center;
  gap:5rem;
  margin:1rem 0;
}
.updates .updates__left__item ul li{
  display:flex;
  align-items:center;
  gap:1rem;
}
.updates .updates__left__item:first-child{
  
  padding-bottom:5rem;
  border-bottom:1px solid grey;
}
.updates .updates__left__item:not(:first-child,:last-child){
  padding:5rem 0;
  border-bottom:1px solid grey;
}
.updates .updates__left__item:last-child{
  padding:5rem 0;
}
.updates .updates__left__item__text h2{
  color:#ffa700;
  font-size:2.5rem;
  font-weight:600;
}
.updates .updates__left__item__text p{
  margin:3rem 0;
  text-align:justify;
}
.updates .updates__left__item__text a{
  color:#ffa700;
}
/*--------------UPDATES RIGHT--------------*/
.updates .updates__right__item:first-child{
  padding-bottom:5rem;
  border-bottom:1px solid grey;
}
.updates .updates__right__item:not(:first-child,:last-child){
  padding:5rem 0;
  border-bottom:1px solid grey;
}
.updates .updates__right__item:last-child{
  padding:5rem 0;
}

.updates__right__item h3{
  color:#ffa700;
  font-size:2.5rem;
  font-weight:600;
  margin-bottom:5rem;
}
.updates__right__item table{
  width:100%;
}
.updates__right__item table tr td:last-child{
  text-align:right;
}
.updates__right__item table tr{
  height:8rem;
}
.updates__right__item table tr td{
  font-size:2rem;
}
.updates .updates__right__item__content{
  display:flex;
  gap:2rem;
 }
 .updates .updates__right__item__content:not(:first-child){
 margin-top:5rem;
}
.updates .updates__right__text h4{
  font-size:1.8rem;
  font-weight:600;
  margin-bottom:3rem;
}
.updates .updates__right__btn a{
  margin:1.5rem;
}
.footer .footer__left ul{
display:flex;
align-items:center;
gap:2.5rem;
}
.footer .footer__left ul li a{
font-size:2.5rem;
color:gray;
}
.footer .footer__left ul li:hover a{
color:#ffa700;
}
.footer .footer__left ul li:hover a{
transform:scale(1.1);
}
@media screen and (max-width:500px){
  .footer .footer__left{
    flex-direction:column;
    gap:1rem;
  }
  .footer .footer__wrapper{
    flex-direction:column;
    gap:1rem;
  }
}

@media screen and (max-width:500px){
  .updates .updates__title{
    text-align:center;
  }
  .updates .updates__wrapper{
    display:grid;
    grid-template-columns:1fr;
  }
  .updates .updates__left__item ul li{
    font-size:1.1rem;
  }
  .updates .updates__left__item__text{
    text-align:center;
    margin-top:3rem;
    margin-left:1rem;
    margin-right:1rem;
  }
  .updates .updates__left__item__text p{
    text-align:justify;
  }
  .updates .updates__right__item h3{
    text-align:center;
  }
  .updates .updates__right__btn{
    text-align:center;
  }
}
/*--------------ABOUT PAGE--------------*/
.aboutbanner{
  background:#ffffff;
  padding-top:13rem;
  padding-bottom:5rem;  
}
.aboutbanner .aboutbanner__wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.aboutbanner .aboutbanner__text h1:hover{
  font-size:10rem;
  font-weight:800;
  color:#2b2b2b;
  line-height:1.2;
  transition:.3s ease;
}
.aboutbanner .aboutbanner__text h1{
  font-size:10rem;
  font-weight:800;
  color:#ffa700;
  line-height:1.2;
}
.aboutbanner .aboutbanner__text h2{
margin-bottom:0;
}

.aboutbanner .aboutbanner__text p{
  margin:3rem 0;
  margin-bottom:5rem;
  max-width:50rem;
  text-align:justify;
}
.aboutbanner .container a{
  padding-top:3rem;
  display:flex;
  justify-content:center;
  color:#ffa700;
  font-size:5rem;
}
.aboutbanner .aboutbanner__text ul{
  display:flex;
  align-items:center;
  gap:2rem;
  }
  .aboutbanner .aboutbanner__text ul li a{
  font-size:2.5rem;
  color:#ffa700;
  }
  .aboutbanner .aboutbanner__text ul li:hover a{
  color:#2b2b2b;
  }
  .aboutbanner .aboutbanner__text ul li:hover a{
  transform:scale(1.1);
  }
@media screen and (max-width:500px){
  .aboutbanner .aboutbanner__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .aboutbanner .aboutbanner__text{
    order:2;
    text-align:center;
    margin:0 2rem;
    margin-top:3rem;
  }
  .aboutbanner .aboutbanner__wrapper img{
    width:20rem;
    margin:0 auto;
  } 
  .aboutbanner .aboutbanner__text h1:hover{
    font-size:3rem;
    transition:.3s ease;
  }   
  .aboutbanner .aboutbanner__text h1{
    font-size:3rem;
  }  
  .aboutbanner .aboutbanner__text p{
    margin-top:2rem;
    margin-bottom:5rem;
  } 
  .aboutbanner .aboutbanner__text{
    flex-direction:column;
    gap:1rem;
  }
  .aboutbanner .aboutbanner__wrapper{
    flex-direction:column;
    gap:1rem;
  } 
  .aboutbanner .aboutbanner__text ul{
    display:flex;
    justify-content:center;
  } 
    
}

/*--------------RECENT PROJECT ABOUT--------------*/
.recentpro{
  padding:5rem 0;
  background:#2b2b2b;
}
.recentpro .recentpro__title h2{
  color:#ffa700;
  font-size:4rem;
  font-weight:600;
}

.recentpro .recentpro__title p{
  color:#ffffff;
  text-align:justify;
}

.recentpro .recentpro__wrapper{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:8rem;
}
.recentpro .recentpro__card{
background:#ffffff;
borer-radius:2rem;
margin-top:8rem;
}
.recentpro .recentpro__card:hover{
 transform:scale(1.1);
 transition:.5s ease;
}
.recentpro .recentpro__card img{
  width:100%;
}
.recentpro .recentpro__card .recentpro__card__text{
  padding:2rem;
}

.recentpro .recentpro__card .recentpro__card__text h4{
 font-weight:600;
 color:#ffa700
}

.recentpro .recentpro__card .recentpro__card__text p{
margin:3rem 0;
}

.recentpro .recentpro__card .recentpro__card__text a{
color:#ffa700;
}
.recentpro .recentpro__card{
  border-radius:3rem;
  margin-top:8rem;
  background:#ffffff;
}
@media screen and (max-width:500px){
  .recentpro .recentpro__title{
  text-align:center;  
  }
  .recentpro .recentpro__wrapper{
  display:unset;
  display:flex;
  flex-direction:column;
  }
 .recentpro .recentpro__card{
  margin-left:2rem;
  margin-right:2rem;
  border-radius:3rem;
  }
.recentpro .recentpro__card:hover{
  transform:scale(1.0);
 }
 .recentpro .recentpro__title p{
  margin-top:1rem;
  margin-left:8rem;
  text-align:justify;
 }
}
/*--------------Service2--------------*/
.service2{
  background:#ffffff;
  padding-top:13rem;
  padding-bottom:5rem;  
}
.service2 .service2__wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.service2 .service2__text h1:hover{
  font-size:10rem;
  font-weight:800;
  color:#2b2b2b;
  line-height:1.2;
  transition:.3s ease;
}
.service2 .service2__text h1{
  font-size:10rem;
  font-weight:800;
  color:#ffa700;
  line-height:1.2;
}
.service2 .service2__text h2{
margin-bottom:0;
}

.service2 .service2__text p{
  margin:3rem 0;
  margin-bottom:5rem;
  max-width:50rem;
  text-align:justify;
}
.service2 .serv2 a{
  padding-left:16px;
  padding-right:16px;
  display:flex;
  justify-content:center;
  color:#ffa700;
  font-size:5rem;
}
.service2 .service2__text ul{
  display:flex;
  align-items:center;
  gap:2rem;
  }
  .service2 .service2__text ul li a{
  font-size:2.5rem;
  color:#ffa700;
  }
  .service2 .service2__text ul li:hover a{
  color:#2b2b2b;
  }
  .service2 .service2__text ul li:hover a{
  transform:scale(1.1);
  }
@media screen and (max-width:500px){
  .service2 .service2__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .service2 .service2__text{
    order:2;
    text-align:center;
    margin:0 2rem;
    margin-top:3rem;
  }
  .service2 .service2__wrapper img{
    width:20rem;
    margin:0 auto;
  } 
  .service2 .service2__text h1:hover{
    font-size:3rem;
    transition:.3s ease;
  }   
  .service2 .service2__text h1{
    font-size:3rem;
  }  
  .service2 .service2__text p{
    margin-top:2rem;
    margin-bottom:5rem;
  } 
  .service2 .service2__text{
    flex-direction:column;
    gap:1rem;
  }
  .service2 .service2__wrapper{
    flex-direction:column;
    gap:1rem;
  } 
  .service2 .service2__text ul{
    display:flex;
    justify-content:center;
  } 
    
}
/*--------------SERVICES PAGE--------------*/
.services {
  padding-top:13rem;
  padding-bottom:5rem;  
}
.services .services__text{
  display:column;
  justify-content:space-between;
  align-items:center;
}
.services .services__item{
  display:flex;
  justify-content:space-between;
}
.services .services__wrapper{
  background:#ffffff;
  padding-top:5rem;
  padding-bottom:5rem; 
}
.services .services__wrapper h1{
  font-size:4.5rem;
  font-weight:800;
  color:#ffa700;
  line-height:2;
  
}
.services a{
  display:flex;
  justify-content:center;
  color:#ffa700;
  font-size:5rem;
}
.services .services__wrapper p{
  margin:3rem 0;
  margin-bottom:5rem;
  max-width:50rem;
  text-align:
}

/*--------------CONTACT PAGE--------------*/
.contact{
  background:#2b2b2b;
  padding-top:13rem;
  padding-bottom:36rem;  
}
.contact .contact__wrapper{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.contact .contact__text h1:hover{
  font-size:10rem;
  font-weight:800;
  color:#ffffff;
  line-height:1.2;
  transition:.3s ease;
}
.contact .contact__text h1{
  font-size:10rem;
  font-weight:800;
  color:#ffa700;
  line-height:1.2;
}
.contact .contact__text h2{
margin-bottom:0;
}

.contact .contact__text p{
  color:#ffffff;
  margin:3rem 0;
  margin-bottom:5rem;
  max-width:50rem;
  text-align:justify;
}
.contact .container a{
  padding-top:3rem;
  display:flex;
  justify-content:center;
  color:#ffa700;
  font-size:5rem;
}
.contact .contact__text ul{
  display:flex;
  align-items:center;
  gap:2rem;
  }
  .contact .contact__text ul li a{
  font-size:2.5rem;
  color:#ffa700;
  }
  .contact .contact__text ul li:hover a{
  color:#2b2b2b;
  }
  .contact .contact__text ul li:hover a{
  transform:scale(1.1);
  }
@media screen and (max-width:500px){
  .contact .contact__wrapper{
    display:grid;
    grid-template-columns: 1fr;
  }
  .contact .contact__text{
    order:2;
    text-align:center;
    margin:0 2rem;
    margin-top:3rem;
  }
  .contact .contact__wrapper img{
    width:20rem;
    margin:0 auto;
  } 
  .contact .contact__text h1:hover{
    font-size:3rem;
    transition:.3s ease;
  }   
  .contact .contact__text h1{
    font-size:3rem;
  }  
  .contact .contact__text p{
    margin-top:2rem;
    margin-bottom:5rem;
  } 
  .contact .contact__text{
    flex-direction:column;
    gap:1rem;
  }
  .contact .contact__wrapper{
    flex-direction:column;
    gap:1rem;
  } 
  .contact .contact__text ul{
    display:flex;
    justify-content:center;
  } 
    
}
/*--------------REPEATABLE PATTERNS--------------*/
.btn{
  display:inline-block;
  padding:1.5rem 1.5rem;
  border-radius:5rem;
  border:1px solid transparent;
}
.btn.yellow{
  background:#ffa700;
  color:#ffffff;
}
.btn.yellow:hover{
  background:#2b2b2b;
  border:1px solid #ffa700;
  color:#ffa700;
  transition:.3s ease;
}

.btn.dark{
  background:#2b2b2b;
  color:#ffffff;
}
.btn.dark:hover{
  background:#ffa700;
  border:1px solid #2b2b2b;
  color:#2b2b2b;
  transition:.3s ease;
}
.btn.light{
  background:#ffffff;
  color:#2b2b2b;
  border:1px solid #2b2b2b;

}
.btn.light:hover{
  background:#2b2b2b;
  border:1px solid #ffffff;
  color:#ffffff;
  transition:.3s ease;
}